In [5]:
import pandas as pd
df = pd.DataFrame({'char':['a','b','c','d','e'], 'cluster':[1,1,2,2,2]})
df

  char  cluster
0    a        1
1    b        1
2    c        2
3    d        2
4    e        2

In [6]:
cluster_count=df.groupby('cluster').count()
cluster_count

         char
cluster
1           2
2           3

In [8]:
cluster_sum=sum(cluster_count.char)
cluster_sum

5

In [9]:
cluster_count.char = cluster_count.char * 100 / cluster_sum
cluster_count.char

cluster
1    40.0
2    60.0
Name: char, dtype: float64

In [10]:
cluster_count.char = cluster_count.char * 100 / cluster_count.char.sum()